<p class="h6 text-center m-5 fw-bold">Copyrights &copy; Victor_Ukoha 2022.</p>

<!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script> -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous"
></script>
