<div class="container">
  <div class="row align-items-center m-5 w-75 mx-auto">
    <div class="col-md-12 border border-2 p-4 w-75 mx-auto">
      <p class="h5 text-center">Instructions</p>
      <ul class="listed-styled">
        <li>Search by link or paste link of video to be downloaded</li>
        <li>Click the submit button</li>
        <li>Select the download quality of your choice</li>
      </ul>
      <a
        href="https://github.com/VictorChukwudi/youtube-downloader"
        class="btn ms-md-3 text-white"
        target="_blank"
        style="background-color: black"
        >Get Source Code Here</a
      >
    </div>
  </div>
  <div class="row w-75 mx-auto text-center">
    <div class="col-md-4">
      <a
        href="mailto:victorukay@gmal.com"
        style="text-decoration: none"
        class="text-dark"
      >
        <img
          src="./images/icons8-gmail-logo.svg"
          alt=""
          style="width: 25px; height: 23px"
        />victorukay@gmail.com
      </a>
    </div>
    <div class="col-md-4">
      <a
        href="https://github.com/VictorChukwudi"
        style="text-decoration: none"
        class="text-dark"
        target="_blank"
      >
        <img
          src="./images/icons8-github.svg"
          alt=""
          style="width: 25px; height: 25px"
        />VictorChukwudi
      </a>
    </div>
    <div class="col-md-4">
      <a
        href="https://www.linkedin.com/in/victor-ukoha-b56224222/"
        style="text-decoration: none"
        class="text-dark"
        target="_blank"
      >
        <img
          src="./images/icons8-linkedin-circled.svg"
          alt=""
          style="width: 25px; height: 25px"
        />Victor Ukoha
      </a>
    </div>
  </div>
</div>
