<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body class="bg-light">
    <div class="container mt-5 p-3">
      <%- include('./partials/body-header') %>
    </div>
    <div class="container">
      <p class="display-6 text-center mt-5 mb-5 alert alert-danger">
        <i class="bi bi-exclamation-triangle-fill"></i> Oops!!! Invalid url
      </p>
      <%- include('./partials/mid-body') %>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
